-c constraints.txt
-e src/rietveld[test]

zope.testrunner

kitconcept.seo
collective.volto.formsupport
collective.volto.socialsettings

# Add required add-ons
# (Ideally add them in setup.py for rietveld)
# collective.easyform
