-c constraints.txt
-e src/rietveld[test]

zope.testrunner

kitconcept.seo
git+https://github.com/intk/collective.volto.formsupport.git
collective.volto.socialsettings
collective.exportimport

# Add required add-ons
# (Ideally add them in setup.py for rietveld)
# collective.easyform
