.block.form{
  .ui.segment{
    border: 0px;
    box-shadow: none;
    margin-top: 0px;
    padding-top: 0px;
    // padding: 0px;
    .column{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .inline.field .wrapper{
    border-bottom: 0px;
  }
  .ui.form .ui.input input, .css-1ard45z-control{
    border: 1px solid #C7D5D8;
  }
  .checkbox-group, .radio-group{
    display: flex;
    .checkbox-item, .radio-button{
      padding-right: 10px;
    }
  }

  h3{
    border-bottom: 1px solid #C7D5D8;
    margin-top: 0px !important;
    font-size: 21px !important;
    font-family: 'FranklinBook', 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 100;
  }
  p em {
    font-size: 14px;
    color: #666666;
  }
  .row{
    padding-bottom: 10px !important;
  }
  label{
    font-size: 18px !important;
  }
  label::after{
    background-color: transparent !important;
  }
  input, .react-select__value-container{
    padding-left: 10px !important;
  }
  .center.aligned.column{
    text-align: end !important;
  }
  .static-text{
    margin-bottom: 0rem !important;
  }
  ul.DayPicker_weekHeader_ul{
    padding-left: 0px !important;
  }
  .ui.checkbox{
    padding-left: 34%;
  }

  button {
    background-color: white !important;
    height: 55px;
    color: black !important;
    border: 1px solid black;
    padding-top: 17px;
    padding-bottom: 12px;
    margin: 10px 20px !important;
    text-transform: uppercase;
    width: 228px;
    font-family: 'FranklinMed', Arial, sans-serif !important;
    letter-spacing: 0.05em;
    font-size: 17px !important;
    text-align: center;
    margin-left: 38px !important;
    margin-right: 38px !important;
    border-radius: 0% ;
  }

  button:hover {
    background-color: #282931 !important;
    border: #282931 !important;
    color: white !important;
  }
}
