#footer-preview-wrapper, #footerWrapper {
  // padding-left: 35px;
  // padding-right: 35px;
  height: auto;


  // Tickets section
  #Tickets {
    margin-top: 50px;
    margin-bottom: 45px;
    .Header{
      margin-bottom: 10px;
    }
    h3 {
      font-family: 'FranklinDmCp', Arial, sans-serif;
      font-size: 48px;
      color: #282931;
      letter-spacing: 0.0em;
      line-height: 55px;
      font-weight: 400;
      margin-top: 45px;
      text-transform: none;
      text-align: center;
    }
    .buttons{
      display: flex;
      justify-content: center;
      margin-bottom: 35px;
      margin-top: 18px;

      .button {
          background-color: white;
          margin: 0px 10px !important;
          padding: 17px 28px 12px;
          color: black;
          width: 200px;
          font-family: 'FranklinMed', Arial, Helvetica;
          letter-spacing: 0.85px;
          font-size: 17px;
          line-height: 36px;
          border: 1px solid black;
        }
        .button:hover {
          background-color: black !important;
          color: white;
        }
    }
    @media (max-width: 992px){
      margin-bottom: 85px;
      h3.Header{
          font-size: 28.8px;
          margin-bottom: 40px;
      }
    }
    @media (max-width: 645px){
      margin-bottom: 65px;
      h3.Header{
        margin-bottom: 28px;
      }
      .buttons{
        flex-direction: column;
        align-items: center;
        .button{
          margin-bottom: 20px !important;
        }
      }
    }
  }

  // Newsletter Section
  #Newsletter{

    background-color: #e1ecf2;
    padding-bottom: 70px;
    padding-top: 25px;
    padding-left: 15px;

    .Header {
      margin-top: 43px;
      margin-bottom: 20px;
    }

    h3 {
      font-family: 'FranklinDmCp', Arial, sans-serif;
      font-size: 48px;
      color: #282931;
      letter-spacing: 0.0em;
      line-height: 55px;
      font-weight: 400;
      margin-top: 45px;
      text-transform: none;
      text-align: center;
      padding-left: 10px;
    }

    #newsletter-form{
      display:flex;
      justify-content: center;
      #formfield-form-widgets-email{
        border: 1px solid #c3c3c3;
        background: white;
        width: 28%;
        margin-right: 5px;
        #form-widgets-email{
          border: 0px;
          width: 98%;
          color: #848484;
          line-height: 22.8px;
          padding: 17px 20px 13px;
          font-family: 'FranklinBook', Arial, Helvetica;
          letter-spacing: 0.8px;
          font-size: 16px;
        }
      }
      .formControls{
        width: 11.7%;
      }
      #form-buttons-subscribe {
        background-color: white;
        padding: 15px 15px 14px;
        color: black;
        width: 100%;
        font-family: 'FranklinMed', Arial, Helvetica;
        letter-spacing: 0.05em;
        font-size: 17px;
        line-height: 24px;
        border: 1px solid black;
      }

      #form-buttons-subscribe:hover {
        background-color: black !important;
        color: white;
      }
    }

    @media (max-width: 992px){
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 15px;
      .Header{
        margin-top: 30px;
        margin-bottom: 20px;
      }
      #newsletter-form{
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        #formfield-form-widgets-email {
          width: 100%;
          margin-right: 0px;
        }
        .formControls {
          width: 100%;
          #form-buttons-subscribe{
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 769px) {
      h3.Header {
          font-size: 25.2px;
          margin-bottom: 7px;
          margin-top: 18px;
      }
    }
  }

  //bottom section
  .site-data-preview{
    display: flex;
    position: relative;
    // height: 513px;
    width: 100vw;
    right: 50%;
    left: 50%;
    margin-top: 50px;
    margin-right: -50vw !important;
    margin-left: -50vw !important;
    padding: 94px 65px 50px 0px;
  }
  #Footer{
    display:flex;
    width: 100%;
    padding-top: 94px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 579px;

    @media (min-width: 769px) {
      padding-bottom: 22px;
    }
  }
  .site-logo{
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 1;
    padding-left: 15px;
    padding-right: 15px;
    img{
      padding-left: 78px;
      max-width: 500px;
    }
  }

  .information-columns{
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 1;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
  }

  .column{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    // margin-right: 40px;
    // margin-left: 40px;
    display: flex;
    flex-wrap: wrap;

    .row{
      padding-left: 15px;
      width: 50%;
      margin-bottom: 36px;
    }

    h3{
      font-family: 'FranklinMed', Arial, sans-serif;
      font-size: 17px;
      line-height: 36px;
      letter-spacing: 0.85px;
      color: #494a51;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    p{
      color: #494a51;
      font-size: 18px;
      margin-bottom: 0px;
      margin-top: 0px;
      line-height: 28px;
      letter-spacing: normal;
    }

    a {
      font-size: 18px;
      text-decoration: none;
      border-bottom: 1px solid black;
      color: @brand-primary-text;
      line-height: 28px;
    }

    a:hover,
    a:focus {
      color: @brand-primary-red;
      border-bottom: 1px solid @brand-primary-red !important;
    }

    img{
      max-width: 150px !important;
      padding-top: 25px;
      opacity: 0.65;
      min-height: 110px;

      // @media (max-width: 1830px){
      //   padding-top: 25px;
      // }
    }
    img:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
  .photo-credit{
    padding-top: 19px;
    height: 100px;
    opacity: 0.65;
  }
}


#footerWrapper{
  background-color: #f9fafb;
  // background-color: aqua;
}

@media (max-width: 992px) {
  #footer-preview-wrapper .site-data-preview{
    padding-left: 35px !important;
  }
  #footer-preview-wrapper, #footerWrapper{
    #Footer, .site-data-preview {
      flex-direction: column;
      padding-left: 25px;
      padding-bottom: 40px;
      padding-right: 20px;

      img {
        padding-left: 0px;
        padding-top: 5px;
      }
      .information-columns{
        padding-left: 0px;
        padding-right: 5px;
      }
      .row{
        flex-basis: 40%;
        padding-top: 50px;
        padding-right: 0px;
        padding-left: 40px;
        margin-bottom: 0px;
      }
      .row.image{
        padding-top: 86px;
        margin-top: 30px;
        margin-bottom: 20px;
        #photo-credit{
          font-size: 15px !important;
          padding-top: 24px !important;
        }
      }
      .site-logo{
        padding-bottom: 30px;
        padding-left: 20px;
        img{
          max-width: 330px;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  #footer-preview-wrapper, #footerWrapper {
    // padding-left: 20px !important;
    // padding-right: 20px !important;
    #Footer,
    .site-data-preview{
      padding-top: 50px !important;
      padding-bottom: 10px !important;
      padding-left: 20px !important;
      padding-right: 5px !important;

      .site-logo {
        padding-bottom: 10px;
        padding-left: 10px;
          img {
            max-width: 350px;
          }
        }

      .row {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
      }
      .row.image{
        margin-left: 0px !important;
        margin-right: 0px !important;
        flex-basis: 50% !important;
        margin-top: 0px !important;
        padding-left: 25px !important;
        padding-right: 20px !important;
        margin-bottom: 25px;
      }

      .row:not(.image) {
        flex-basis: 100% !important;
      }
    }
  }
}
