.section-search{
  #page-search{
    padding-top: 92px;
    // padding-left: 85px;
    // padding-right: 25px;
    padding-left: 56px;
    padding-right: 56px;

    @media (min-width: 768px){
      padding-left: 37px;
      padding-right: 37px;
    }

    @media (min-width: 1200px){
      width: 1170px;
    }

    @media (min-width: 992px) {
      width: 970px;
    }

    @media (min-width: 768px){
      padding-top: 122px;
      width: 750px;
    }

  }

  header{
    width: 100%;
    @media (min-width: 768px) {
      width: 650px;
    }
    padding-top: 120px;
    margin-right: 14%;
    margin-left: auto;
    h1.documentFirstHeading{
      margin-bottom: 3px !important;
      @media (max-width: 768px) {
        font-size: 40px !important;
        line-height: 35px !important;
        text-align: start !important;
        padding-bottom: 25px !important;
        padding-left: 15px !important;
      }
    }
    .sort-by{
      font-family: 'FranklinMed', Arial, Helvetica;
      letter-spacing: 0.05em;
      font-size: 17px;
      line-height: 24px;
      padding-bottom: 5px;
    }
    .button-sort{
      width: auto !important;
      background-color: white !important;
      padding: 5px 5px 3px 5px !important;
      color: black !important;
      width: 100%;
      font-family: 'FranklinMed', Arial, Helvetica;
      letter-spacing: 0.05em;
      font-size: 17px;
      line-height: 24px;
      border: 0.5px solid black !important;
    }
    .button-sort:hover {
      background-color: black !important;
      color: white !important;
    }
  }

  #content-core{
    max-width: 668px !important;
    margin-left: auto;
    margin-right: auto;
      @media (min-width: 992px) {
        // margin-left: -130px;
        // margin-right: 130px;
        // padding: 6px 12px;
        margin-bottom: 20px;
      }
  .tileItem{

    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      // margin-left: -15px;
      // margin-right: -15px;
    }
    img, .image-placeholder{
      object-fit: contain !important;
      padding-right: 12px;
      @media (min-width: 768px){
        width: 41%;
        // padding-left: 15px;
        padding-right: 16px;
        margin-bottom: auto;
      }
      @media (min-width: 992px){
      //   padding-left: 0px;
        // padding-right: 0px;
      }
      @media (min-width: 1140px){
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @media (min-width: 1140px) {
      margin-left: -85px;
      margin-right: 85px;
      // aspect-ratio: 16 / 9.3;
      // padding-left: 15px;
      // padding-right: 15px;
    }
    .search-text-wrapper{
      padding-right: 15px !important;
      @media (min-width: 768px) {
        padding-left: 15px;
      }
    }
    }
    h2.tileHeadline {
      margin-bottom: 0px !important;
      padding-top: 20px !important;
      line-height: 21px;

      @media (min-width: 768px){
        margin-top: -5px !important;
        padding-top: 0px !important;
      }

      a.summary.url{
        font-family: 'FranklinMed', Arial, sans-serif;
        font-size: 21.6px;
        color: #494A51;
        letter-spacing: 0.00em;
        line-height: 32px;
        font-weight: 400;
        text-transform: none;
        border: none;
        margin-bottom: 0px !important;
        @media (min-width:768px) {
          margin-top: -5px;
          font-size: 25px;
        }
      }
      a.summary.url:hover{
        border-bottom: none !important;
      }
    }

    div.tileBody{
      span.description {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 30px;
        font-size: 17px !important;
        font-family: 'FranklinBook', Arial, sans-serif;
        letter-spacing: 0.0em;
        color: #494a51;
        margin: 8px 0;
        margin-bottom: 35px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;
      }
    }
  }
  .items_total{
    font-family: 'FranklinBook', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #404040;
    letter-spacing: 0.8px;
    padding-top: 40px;
    justify-content: flex-start;
    strong{
      padding-right: 5px;
    }
    @media (min-width: 768px){
      // padding-left: 20px;
    }
  }
  .ui.header{
    padding-bottom: 30px;
    @media (min-width: 768px) {
      // padding-left: 20px;
    }
  }

  .searchbar{
    width: 100%;

    .field.searchbox{
      border-left: 0px !important;
      padding-left: 0px;
      @media (max-width: 768px) {
        flex-direction: column;
        .ui.transparent.input,button {
          width: 100% !important;
        }
      }

      .ui.transparent.input {
        border: 1px solid #c3c3c3;
        padding: 12px 20px 14px !important;
        color: #9c9a9a;
        opacity: 1;
        font-size: 16px;
        letter-spacing: 0.05em;
        #input::placeholder{
          color: #848484;
          opacity: 1;
          font-family: 'FranklinBook', Arial, sans-serif;
          letter-spacing: 0.8px;
        }
        @media (min-width: 768px) {
          padding: 16px 20px 11px !important;
        }
      }
    }
    @media (min-width: 768px){
      .ui.form .field.searchbox {
        // padding-left: 20px;
      }
    }

    button{
      width: 120px !important;
      background-color: white !important;
      padding: 16px 30px 11px !important;
      color: black !important;
      width: 100%;
      font-family: 'FranklinMed', Arial, Helvetica;
      letter-spacing: 0.05em;
      font-size: 17px;
      line-height: 24px;
      border: 1px solid black !important;
      text-align: center !important;
    }
    button:hover {
      background-color: black !important;
      color: white !important;
    }
  }
  .listing-dates-wrapper {
    margin-bottom: 22px;
    padding-top: 3px;
    span{
      font-size: 17px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.6);
      letter-spacing: 0.05em;
      font-family: 'FranklinBook', Arial, sans-serif;
      word-wrap: normal;
      text-transform: lowercase;
    }
    .expired{
      span.hero-dates{
        text-decoration: line-through;
      }
    }
  }
}

